DOMAIN=mm.example.com
MM_SQLSETTINGS_DATASOURCE="postgres://mmuser:mmuser_password@postgres:5432/mattermost?sslmode=disable&connect_timeout=10"
# no touchy touchy
TZ=America/New_York
RESTART_POLICY=unless-stopped
MATTERMOST_CONFIG_PATH=./volumes/app/mattermost/config
MATTERMOST_DATA_PATH=./volumes/app/mattermost/data
MATTERMOST_LOGS_PATH=./volumes/app/mattermost/logs
MATTERMOST_PLUGINS_PATH=./volumes/app/mattermost/plugins
MATTERMOST_CLIENT_PLUGINS_PATH=./volumes/app/mattermost/client/plugins
MATTERMOST_BLEVE_INDEXES_PATH=./volumes/app/mattermost/bleve-indexes
MM_BLEVESETTINGS_INDEXDIR=/mattermost/bleve-indexes
MATTERMOST_IMAGE=mattermost-enterprise-edition
MATTERMOST_IMAGE_TAG=latest
MATTERMOST_CONTAINER_READONLY=false
APP_PORT=8065
CALLS_PORT=8066
MM_SERVICESETTINGS_SITEURL=https://${DOMAIN}
MM_SQLSETTINGS_DRIVERNAME=postgres
